body{
  font-family: 'calibri', sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-size: 100%;
  width: 100%;
  margin: auto;
  background-color: black;}

#mini{
  width: 150px;
  margin: 1em;
  margin-left: 2em;
  margin-top: -5em;
  position: absolute;
  z-index: -1;}

h1{
  font-family: 'calibri', sans-serif;
  font-size: 2em;
  padding-left: 30px;
  padding-top: 50px;
  color: white;}

main{
  width: 100%;
  padding-bottom: 50%;
  margin: 10px;
  margin-bottom: 1px;
  margin-top: 7em;
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 10px solid #e95f80;}

.eenlijstje{
  width: 100%;
  font-size:1.25em;
  text-align: center;
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2em;
  padding-right: 0px;
  letter-spacing: 0.10em;
  border-bottom: 10px solid #e95f80;}

p{
  color: white;
  text-align: center;
  margin-top: 300px;
}

footer{
  font-size:1em;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 200px;
  margin: 10px;
  margin-top: -10em;
  margin-bottom: 45px;
  border-top: 10px solid #e95f80;
  border-bottom:10px solid #e95f80;
  clear: both;
}

h3{
  letter-spacing: 0.14em;
  font-size: 1.1em;
  text-align: left;
}

.titel{
  float:right;
  padding-right: 13em;
  padding-top: 20px;
  line-height: 25px;
}

.socialmedia{
  float: left;
  width: 200px;
  border-bottom-right-radius:0%;
  padding-left: 4em;
  padding-top: 20px;
}

a{
  color: #15cb8d;
  text-decoration: none;
}
a:hover{
  transition: all .4s ease-in-out;
  color: #e95f80;
}

.fb{
  width: 50px;
  margin: 50px;
}
.insta{
  height: 60px;
  margin-left: -180px;
  margin-top: 2.8em;
  position: absolute;
}
@media (max-width:650px){
  .socialmedia{
    margin-top: -120px;
  }
  .titel{
    padding-right: 1em;
    margin-left: 200px;
    padding-top: 20px;
    line-height: 25px;
  }
  p{
    color: white;
    text-align: center;
    margin-top: 30px;
  }
}
@media (min-width:750px) {
  .contest{
    margin-left: 200px;
  }
  p{
    margin-bottom: -15em;
    margin-top: 0px;
  }
}

.foto{
  width: 300px;
  height: 300px;
  margin: 2em;
}
#image2{
  border: 10px solid rgb(110,190,158);
  padding: 15px;
}
#image3 {
  border: 10px solid rgb(224,220,1);
  padding: 15px;
}
